<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<div>
	<h3  style="text-align:center;">Trending topics</h3>
	<div class="anchor"><a href="#"> Buhari decides to allow for Anti- grazing bill</a></div>
	<div class="anchor"><a href="#"> Goodluck's daughter weds former cross river governor son</a></div>
	<div class="anchor"><a href="#"> Former benue governor charged with 39billion environmental fund fraud </a></div>
	<div class="anchor"><a href="#">  See pictures of man who stabbed his wife over #300</a></div>
	<div class="anchor"><a href="#">  Man divorces wife over toothpaste</a></div>
	<div class="anchor"><a href="#">  see photos of Nigerian man who painted donald trump upside down</a></div>
	<div class="anchor"><a href="#">  Ghanian lady said, "I can never date a a man without a 30million car"</a></div>
	<div class="anchor"><a href="#">  Super eagles, "We will bring the trophy to Africa"</a></div>
</div>

