<div class="container">
	<div class="body-container">	
		<mat-card class="posts">
		  <mat-card-header>
			<img mat-card-avatar src="assets/img/img_0.jpg">
			<mat-card-title>Cards are the best</mat-card-title>
			<mat-card-subtitle>Really, they are!</mat-card-subtitle>
		  </mat-card-header>
		  <img mat-card-image src="assets/img/img_1.jpg">
		  <mat-card-content>
			<p>Something pretty...</p>
		  </mat-card-content>
		</mat-card>
		<mat-card class="posts">
		  <mat-card-header>
			<img mat-card-avatar src="assets/img/img_2.jpg">
			<mat-card-title>Cards are the best</mat-card-title>
			<mat-card-subtitle>Really, they are!</mat-card-subtitle>
		  </mat-card-header>
		  <img mat-card-image src="assets/img/img_3.jpg">
		  <mat-card-content>
			<p>Something pretty...</p>
		  </mat-card-content>
		</mat-card><mat-card>
		  <mat-card-header class="posts">
			<img mat-card-avatar src="assets/img/img_4.jpg">
			<mat-card-title>Cards are the best</mat-card-title>
			<mat-card-subtitle>Really, they are!</mat-card-subtitle>
		  </mat-card-header>
		  <img mat-card-image src="assets/img/img_5.jpg">
		  <mat-card-content>
			<p>Something pretty...</p>
		  </mat-card-content>
		</mat-card>
		<mat-card class="posts">
		  <mat-card-header>
			<img mat-card-avatar src="assets/img/img_6.jpg">
			<mat-card-title>Cards are the best</mat-card-title>
			<mat-card-subtitle>Really, they are!</mat-card-subtitle>
		  </mat-card-header>
		  <img mat-card-image src="assets/img/img_7.jpg">
		  <mat-card-content>
			<p>Something pretty...</p>
		  </mat-card-content>
		</mat-card>
	</div>
</div>