<section style="margin-top:35%;">
	<mat-card style="padding-bottom:10%;">
		
		<form #regForm="ngForm" (ngSubmit)="loginUser(regForm)">
			<br>	
			<mat-form-field color="accent">
				<label mat-form-label>e-mail</label>
				<textarea matInput type="text" name="email" ngModel></textarea>
			</mat-form-field>
			<br>
			<br>
			<mat-form-field color="accent">
				<label mat-form-label>Password</label>
				<input matInput type="password" name="password" ngModel>
			</mat-form-field>
			<br>
			
			<button style="float:right;" mat-button  type="submit" color="accent">Login</button>
	
		</form>
	</mat-card>	

</section>