mat-form-field{
	border-radius:10px;
	background-color:white;
}
.mat-form-field-appearance .mat-field-underline{
	display:none!important;	
}
#display__on__image__select{
	cursor:text;
	background-color:transparent!important;
}
#bg-black{
    background-color: black;
    height: 70em;
    min-width: 100%;
    display: flex;
    left: 0;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.progress{
	height: 100%;
    background-color: #000000ed;
    position: absolute;
    top: 0;
    z-index: 28;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    left: 0;
}