body{
	background-color:#121;
	padding:300px;
}
.container{
	margin:2% 5% 0;
}

mat-card{
	max-width: calc( 53% + 2vh);
}
.posts{
    border-radius: 10px;
    width: 80%;
    /* height: 79%; */
    margin: 5px 0px;
}
.body-container{
	margin:15% 0 0 0;
}

@media (max-width:1000px){
	.posts{
		width:95%;
	}
}