<section style="margin-top:35%;">
	<mat-card style="padding-bottom:10%;">
		
		<form #regForm="ngForm" (ngSubmit)="registerUser(regForm)">
		   	<mat-form-field color="accent">
				<label mat-form-label>Please enter Your email</label>
				<textarea matInput type="text" name="email" ngModel></textarea>
			</mat-form-field>
			<br>	
			<mat-form-field color="accent">
				<label mat-form-label>Choose a username</label>
				<textarea matInput type="text" name="username" ngModel></textarea>
			</mat-form-field>
			<br>
			<br>
			<mat-form-field color="accent">
				<label mat-form-label>Choose A Password, at least 6 characters</label>
				<input matInput type="password" name="password" ngModel>
			</mat-form-field>
			<br>
			
			<button style="float:right;"mat-button  type="submit">Register</button>
			<!-- <button mat-button type="submit"> Register </button>	 -->
		</form>
	</mat-card>	

</section>